<section id="lachitus-slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#lachitus-slide" data-slide-to="0" class="active"></li>
    <li data-target="#lachitus-slide" data-slide-to="1"></li>
    <li data-target="#lachitus-slide" data-slide-to="2"></li>
    <li data-target="#lachitus-slide" data-slide-to="3"></li>
    <li data-target="#lachitus-slide" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("lachitus-slide1.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("lachitus-slide2.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("lachitus-slide3.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("lachitus-slide4.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("lachitus-slide5.jpg") %>
    </div>
  </div>
</section> <!--/.slider -->

<section>
  <div class="header-bg wrap-content">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-lachitus-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <h1>
      <a href="/" class="logo"></a>
    </h1>
  </div>

  <div class="navbar lachitus-navbar spacer-none" role="navigation">

    <nav class="collapse -bg-gold navbar-collapse" id="js-lachitus-collapse">
      <ul class="nav h-text-md-center nav__main text-uppercase">
        <li><a class="nav" href="/products?type=collections">New Collections</a></li>
        <li><a class="nav" href="/products?type=clothing">Clothing</a></li>
        <li><a class="nav" href="/products?type=handbags">Handbags</a></li>
        <li><a class="nav" href="/products?type=shoes">Shoes</a></li>
        <li><a class="nav" href="/products?type=jewelry">Jewelry</a></li>
        <li><a class="nav" href="/products?type=accessories">Accessories</a></li>
      </ul>
    </nav>

  </div>
</section>
<section class="wrap-content section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("lachitus-aboutus.jpg", class: "img-responsive", alt: "Lachitus fashion") %>
      </div>
      <div class="col-sm-6">
        <div class="text-center headspacer-small spacer-medium">
          <p class="head-info spacer-xsmall">Modern fashion with high value and inexpensive collection</p>
          <p class="head-info spacer-xsmall">Eye - Catching Individualized</p>
          <p class="head-info">Where you <strong>express</strong> your aesthetic self</p>
        </div>
        <div class="text-center headspacer-small spacer-medium">
          <p class="head-info">A real voice for the astist, the outcast, the dreamer, the person you want tobe</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wrap-content section-contact  text-center">
  <div class="container">
    <div class="row">
      <h2 class="headspacer-small spacer-medium">Contact Us</h2>
      <div class="col-sm-6">

        <div class="spacer-xlarge">

          <div class="spacer-medium">
            <p class="detail spacer-xsmall">Address:</p>
            <p class="head-info">745 East Valley Blvd PMB176 San Gabriel CA 91746</p>
          </div>
          <div class="spacer-medium">
            <p class="detail spacer-xsmall">Email:</p>
            <a  class="head-info spacer-medium" href="mailto:info@lachitus.com" target="_top">info@lachitus.com</a>
          </div>
          <div class="spacer-medium">
            <p class="detail spacer-xsmall">Phone:</p>
            <p class="head-info">+1 425 319 13 41</p>
          </div>
        </div>

      </div> <!-- col-sm-6 -->

      <div class="col-sm-6">
        <%= image_tag("lachitus-contact.jpg", class: "img-responsive", alt: "Lachitus fashion") %>
      </div> <!-- col-sm-6 -->
    </div>
    <div class="profile-social -bg-gold text-center headspacer-medium spacer-medium">

      <ul class="nav navbar-nav social">
        <li>
          <a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
        </li>
        <li>
          <a class="ripple-centered" href="https://twitter.com/" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
        </li>
        <li>
          <a class="ripple-centered" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-3x fa-linkedin"></i></a>
        </li>
        <li>
          <a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="fa fa-3x fa-google-plus"></i></a>
        </li>
        <li>
          <a class="ripple-centered" href="https://www.instagram.com/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
        </li>
      </ul>

    </div> <!-- /.profile-social -->
  </div>
</section>

<section>
  <ul class="nav nav-collection">
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <%= image_tag("lachitus-clothing.jpg", class: "img-responsive", alt: "lachitus-fashion") %>
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title text-center">
              Clothing
            </h3>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <%= image_tag("lachitus-handbag.jpg", class: "img-responsive", alt: "lachitus-fashion") %>
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title text-center">
              Handbag
            </h3>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <%= image_tag("lachitus-shoe.jpg", class: "img-responsive", alt: "lachitus-fashion") %>
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title text-center">
              Shoes
            </h3>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <%= image_tag("lachitus-jewelry.jpg", class: "img-responsive", alt: "lachitus-fashion") %>
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title text-center">
              Jewelry
            </h3>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <%= image_tag("lachitus-accessories.jpg", class: "img-responsive", alt: "lachitus-fashion") %>
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title text-center">
              Accessories
            </h3>
          </div>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>

<section class="wrap-content section-charity text-center">
  <div class="container">
    <h2 class="headspacer-small spacer-medium">Lachitus Charity</h2>

    <h4><big><em><b>Lachitus</b></em> is also a philanthropic orgnaization helping those facing dounting circumstances.</big></h4>
    <h4><big>Financial resources from <em><b>Lachitus</b></em> products and partners are directed back to communicaties every year since 2015.</big></h4>

    <div class="row text-center">
      <div class="col-sm-6 headspacer-medium">
        <%= image_tag("lachitus-charity1.jpg", class: "img-responsive", alt: "Lachitus fashion charity") %>
      </div>
      <div class="col-sm-6 headspacer-medium">
        <%= image_tag("lachitus-charity2.jpg", class: "img-responsive", alt: "Lachitus fashion charity") %>
      </div>
    </div>
  </div>
</section>
