<section>
  <div class="container-fluid h-space-in-all-large">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail thumbnail--primary">
          <%= image_tag("lachitus-product1.jpg", class: "product img-responsive", alt: "Lachitus fashion") %>
          <div class="caption">
            <p><big>Product Name</big></p>
            <p>50.00$</p>
          </div>
        </div>
      </div> <!-- /.item -->


    </div> <!-- /.row -->
  </div>
</sestion>
